.containers_responsive
{
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
}
.containers_responsive div
{
    background-color: black;
}
.grid
{
    background-color: black;
}
.main_buttons
{
    align-items: center;
    text-align: center;
}
.container
{
    background-color: bisque;
}
.col
{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
